body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: rgb(84, 74, 67);
  color: rgb(255, 247, 243);
  padding-left: 6px;
}
h2 {
  margin-bottom: 10px;
  text-decoration: underline;
}

.expand-button {
  cursor: pointer;
  display: relative;
  background: none;
  border: solid;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  font-weight: 500;
  color: rgb(255, 247, 243);
  border-color: rgb(255, 247, 243);
  transition: 200ms;
}
.expand-button:hover {
  background-color: rgb(255, 247, 243);
  color: rgb(84, 74, 67);;
}
.expand-button:active {
  transition: 0ms;
  color: rgb(255, 247, 243);
}

.expand-month-history {
  display: grid;
  margin-left: 30px;
  margin-top: 5px;
  grid-template-columns: 180px 50px;
  grid-template-rows: 18px;
  grid-gap: 3px;
}

.history-expand-header-product,
.history-expand-header-price {
  display: flex;
  align-items: center;
  padding-left: 5px;
  background-color: white;
  color: black
}

.newliner-div {
  margin-bottom: 10px;
}
.horizontal-line-div {
  margin-bottom: 2px;
  height: 1px;
  background-color: rgb(255, 247, 243);
}


.record-value,
.record-date {
  display: inline;
}

.hidden {
  display: none;
}